@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px; 
    font-variant: small-caps; /* para deixar a primeiras letras das palavras em maiúsculas */
    font-family: var(--fonte2);
    font-size: 10vw; /* vai ser 10% da largura da tela. Para aumentar ou diminuir o tamanho de acordo com a tela. Funciona mas não é o ideal, existe uma outra maneira mais avançada. */
}
header p{
    padding-bottom: 50px;
}   
header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 2em; /* para criar um espaçamento entre as linhas */
}
section > p{
    padding-bottom: 2em;;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(59, 54, 54);
    color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.479); /* sombra interna */
    background-size: cover;
    background-attachment: fixed;
}
section.imagem p{
    display: inline-block; /* caixa se adapta de acordo com o tamanho do conteúdo */
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    background-color: rgba(0, 0, 0, 0.554);

}
section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}
section#img02{
    background-image: url(../imagens/background002.jpg);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}